@model MvcBlog.Models.Post
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-xs-1 col-md-2">
       
    </div>
    <div class="col-xs-6 col-md-8">
        <h2 class="title">@Model.Title</h2>
        <div class="body">

            @Html.Raw(Model.Body)
            @Html.DisplayNameFor(model => model.Date)
            @Html.DisplayFor(model => model.Date)
            
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>

        </div>

    </div>
    <div class="col-xs-1 col-md-2">
        
    </div>
</div>

@*
    <h2>Details</h2>

        <h4>Post</h4>
        <hr />
        <textarea disabled="disabled" rows="20" class="form-control text-box multi-line valid">@Model.Body</textarea>


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Body)
            </dt>

            <dd>
                <textarea disabled="disabled" rows="20" style="width:200%" class="form-control text-box multi-line valid">@Model.Body</textarea>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

        </dl>
    </div>
*@
<p>
    @if( User.IsInRole("Administrators"))
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Back to List", "Index")
</p>
